.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.linkdin {background-color: blue;} /* Blue */
.linkdin:hover{
  background-color: #f44336;
}
.github {background-color: #e7e7e7; color: black;} /* Gray */
.success {background-color: #4CAF50;} /* Green */
.danger {background-color: #f44336;} /* Red */

a{
  text-decoration: none;
  padding: 15px 32px;
  color: white;

}